<!-- Awards-->
<section class="resume-section" id="awards">
  <div class="resume-section-content">
      <h2 class="mb-5">Certificates</h2>
      <ul class="fa-ul mb-0">
          <li>
              <span class="fa-li"  ><i class="fas fa-award"></i></span>
              Angular 6 TS
              
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-award"></i></span>
              TypeScript
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-award"></i></span>
            Python
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-award"></i></span>
            Java
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-award"></i></span>
            POO em Java
        </li>

      </ul>
  </div>
</section>
