  <!-- About-->
  <section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">Raquel
            <span class="text-primary">Moura</span>
        </h1>
        <div class="subheading mb-5">
            Rio de Janeiro · Brazil · 
            <a href="mailto:name@email.com">raquelaguiar@id.uff.br</a>
        </div>
        <p class="lead mb-5">I am a software developer</p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/mouraraquel/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/MouraRaquel"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://www.facebook.com/mouraraquel"><i class="fab fa-facebook-f"></i></a> 
            <a class="social-icon" href="https://www.instagram.com/raquel.aasm/"><i class="fab fa-instagram"></i></a>

        </div>
    </div>
</section>
<hr class="m-0" />