<!-- Skills-->
<section class="resume-section" id="skills">
  <div class="resume-section-content">
      <h2 class="mb-5">Skills</h2>
      <div class="subheading mb-3">Programming Languages & Tools</div>
      <ul class="list-inline dev-icons">
          <li class="list-inline-item"><i class="fab fa-angular"></i></li>
          <li class="list-inline-item"><i class='fab fa-html5'></i></li>
          <li class="list-inline-item"><i class='fab fa-css3-alt'></i></li>
          <li class="list-inline-item"><i class='fab fa-php'></i></li>
          <li class="list-inline-item"><i class="fab fa-js-square"></i></li>  
          <br>                    
          <li class="list-inline-item"><i class="fab fa-gitlab"></i></li>
          <li class="list-inline-item"><i class="fas fa-database"></i></li>
          <li class="list-inline-item"><i class="fab fa-bootstrap"></i></li>
          <li class="list-inline-item"><i class="fab fa-git-alt"></i></li>
          <li class="list-inline-item"><i class="fab fa-python"></i></li>
         
      </ul>
      <div class="subheading mb-3">Workflow</div>
      <ul class="fa-ul mb-0">
          <li>
              <span class="fa-li"><i class="fas fa-check"></i></span>
               Testing & Debugging
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-check"></i></span>
              DevOps
          </li>
          <li>
              <span class="fa-li"><i class="fas fa-check"></i></span>
              Agile Development
          </li>
      </ul>
  </div>
</section>
<hr class="m-0" />
