<!-- Education-->
<section class="resume-section" id="education">
  <div class="resume-section-content">
      <h2 class="mb-5">Education</h2>

      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
              <h3 class="mb-0">Universidade Federal Fluminense</h3>
              <div class="subheading mb-3">Graduation</div>
              <div>Computer Systems Analyst  </div>
              <p>Rio de Janeiro - Brazil</p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">2018 - 2021</span></div>
      </div>

  </div>
</section>
<hr class="m-0" />
